table{
    background-color: rgb(255, 203, 203);
    /* color: aliceblue; */
    border: 10px solid rgb(158, 64, 64);
    font-family: cursive;
    /* margin: 10px; */
}
td{
    font-size: 15px;
    font-style: italic;
    color: rgb(84, 0, 163);
}
th{
    font-size: 20px;
    color: brown;
}
body{
    background-color: black;
}
